* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151965;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #151965;
    font-family: "poppins", sans-serif;
    color: #fff;
}

.header {
    width: 100%;
    height: 320px;
    position: relative;
}

.header svg {
    width: 100%;
}

.icon > svg {
    position: absolute;
    z-index: 9;
}

.circle {
    width: 187px;
    height: 187px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    left: 130px;
    z-index:10 ;
}

.rectangle {
    position: absolute;
    top: 110px;
    left: 60px;
}

.profile-name {
    width: 160px;
    height: 50px;
    position: absolute;
    top: 268px;
    z-index: 3;
    left: 145px;
}

.profile-name h1 {
    font-size:20px;
    font-weight: 700;
    text-transform: uppercase;
}

.desk {
    width: 317px;
    margin: 0 auto;
}

.desk p {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    text-align: justify;
    color: #ffffffe0;
}

.portfolio-link {
    width: 324px;
    height: 31px;
    background-color: rgba(70, 181, 209, 0.6);
    border-radius: 5px;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px rgba(12, 12, 12, 0.6);
}

.portfolio-link a {
    color: #fff;
    font-weight: 600;
    text-transform:uppercase ;
    text-decoration: none;
}

.portfolio-link a:hover {
    text-decoration: underline;
}

.icon-sosmed {
    width: 128px;
    height: 54px;
    display: flex;
    margin: 40px auto;
}

.instagram {
    margin-right: 20px;
}

.footer {
    width: 100%;
    height: 60px;
    background-color: #515585;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(12, 12, 12, 0.4);
}

.footer p {
    font-size: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.4);
}

.avatar {
    position: absolute;
    z-index: 10;
    width: 162px;
    height: 162px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    top: 85px;
    left: 140px;
}

.avatar svg {
    width: 150px;
    height: 150px;
    color: #0c0c0c;
}
